    body {
        margin: 0;
        max-width: 100vmin;
    }  
    div>div>div {       
        height: calc(100vmin / 10);
        width: calc(100vmin / 10);
        display: inline-block; 
        margin-left: -0.5vmin;       
    }      

    div>div>div:first-child {
        margin-left: calc(100vmin / 10);
    }

    div>div:first-child {       
       margin-top: 10vmin;
    }

    div>div>div:first-child {
        margin-top: 0;
    }   
    
    div>div {       
        margin-top: -0.5vmin;
     }

    /*делаем буквы сверху*/

    div:first-child::before {
        content: "a b c d e f g h";
        font-family: Arial;
        letter-spacing: 3.4vmin;
        font-size: 4vmin;   
        text-align: center; 
        display: block;       
        margin-left: 3vmin;
        margin-top: 1vmin;
        margin-bottom: -9vmin;
    }
   
    div>div:first-child::before {
        content: none;       
    }

    div>div>div:first-child::before {
        content: none;        
    }

    /*делаем буквы снизу*/

    div:last-child::after {
        content: "a b c d e f g h";
        font-family: Arial;
        letter-spacing: 3.4vmin;
        font-size: 4vmin;   
        text-align: center; 
        display: block;
        margin-left: 3vmin;
        margin-top: 1vmin;
        margin-bottom: -9vmin;
    }
   
    div>div:last-child::after {
        content: none;       
    }

   /*делаем цифры слева*/

    div>div:nth-child(1) div:first-child::before {        
        content: "1";  
        float: left; 
        margin-left: -5vmin;              
    }     

    div>div:nth-child(2) div:first-child::before {        
        content: "2";  
        float: left;    
        margin-left: -5vmin;             
    }  

    div>div:nth-child(3) div:first-child::before {        
        content: "3";  
        float: left;    
        margin-left: -5vmin;             
    }  
    
    div>div:nth-child(4) div:first-child::before {        
        content: "4";  
        float: left;    
        margin-left: -5vmin;             
    }  

    div>div:nth-child(5) div:first-child::before {        
        content: "5";  
        float: left;    
        margin-left: -5vmin;             
    }  

    div>div:nth-child(6) div:first-child::before {        
        content: "6";  
        float: left;    
        margin-left: -5vmin;             
    }  

    div>div:nth-child(7) div:first-child::before {        
        content: "7";  
        float: left;    
        margin-left: -5vmin;             
    }  

    div>div:nth-child(8) div:first-child::before {        
        content: "8";  
        float: left;    
        margin-left: -5vmin;             
    } 

    /*делаем цифры справа*/

    div>div:nth-child(1) div:last-child::after {        
        content: "1";  
        float: right;
        margin-right: -8vmin;                       
    }   

    div>div:nth-child(2) div:last-child::after {        
        content: "2";  
        float: right;
        margin-right: -8vmin;                       
    } 

    div>div:nth-child(3) div:last-child::after {        
        content: "3";  
        float: right;
        margin-right: -8vmin;                       
    } 

    div>div:nth-child(4) div:last-child::after {        
        content: "4";  
        float: right;
        margin-right: -8vmin;                       
    } 

    div>div:nth-child(5) div:last-child::after {        
        content: "5";  
        float: right;
        margin-right: -8vmin;                       
    } 

    div>div:nth-child(6) div:last-child::after {        
        content: "6";  
        float: right;
        margin-right: -8vmin;                       
    } 

    div>div:nth-child(7) div:last-child::after {        
        content: "7";  
        float: right;
        margin-right: -8vmin;                       
    } 

    div>div:nth-child(8) div:last-child::after {        
        content: "8";  
        float: right;
        margin-right: -8vmin;                       
    } 

/*закрашиваем клеточки*/

div>div:nth-child(odd) div:nth-child(odd) {
    background: red;                 
}  

div>div:nth-child(even) div:nth-child(even) {
    background: red;                 
}  

/*делаем границы*/
/*верхняя и нижняя*/

div>div:first-child div {
    border-top: 1px solid red;
}

div>div:last-child div {
    border-bottom: 1px solid red;
}

/*левая боковая*/

div>div:nth-child(2) div:nth-child(1) {
    border-left: 1px solid red;             
}  

div>div:nth-child(4) div:nth-child(1) {
    border-left: 1px solid red;             
} 

div>div:nth-child(6) div:nth-child(1) {
    border-left: 1px solid red;             
} 

div>div:nth-child(8) div:nth-child(1) {
    border-left: 1px solid red;             
} 

/*правая боковая*/

div>div:nth-child(1) div:nth-child(8) {
    border-right: 1px solid red;             
}  

div>div:nth-child(3) div:nth-child(8) {
    border-right: 1px solid red;             
} 

div>div:nth-child(5) div:nth-child(8) {
    border-right: 1px solid red;             
} 

div>div:nth-child(7) div:nth-child(8) {
    border-right: 1px solid red;             
} 

/*вставляем фигурки*/
/*строка 1*/

div>div:nth-child(1) div:nth-child(1) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 2) 0;           
} 
  
div>div:nth-child(1) div:nth-child(2) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 4 + -2vmin) 0;           
} 

div>div:nth-child(1) div:nth-child(3) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 3 + -1vmin) 0;           
} 

div>div:nth-child(1) div:nth-child(4) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: 1vmin  0;           
} 

div>div:nth-child(1) div:nth-child(5) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 1) 0;           
} 
  
div>div:nth-child(1) div:nth-child(6) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 3 + -1vmin) 0;           
} 

div>div:nth-child(1) div:nth-child(7) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 4 + -2vmin) 0;           
} 

div>div:nth-child(1) div:nth-child(8) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 2) 0;           
} 

/*строка 2*/

div>div:nth-child(2) div:nth-child(1) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) 0;           
} 

div>div:nth-child(2) div:nth-child(2) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) 0;           
} 

div>div:nth-child(2) div:nth-child(3) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) 0;           
} 

div>div:nth-child(2) div:nth-child(4) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) 0;           
} 

div>div:nth-child(2) div:nth-child(5) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) 0;           
} 

div>div:nth-child(2) div:nth-child(6) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) 0;           
} 

div>div:nth-child(2) div:nth-child(7) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) 0;           
} 

div>div:nth-child(2) div:nth-child(8) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) 0;           
} 

/*строка 7*/

div>div:nth-child(7) div:nth-child(1) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) calc(-100vmin / 10 * 1 + -1vmin);            
} 

div>div:nth-child(7) div:nth-child(2) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) calc(-100vmin / 10 * 1 + -1vmin);            
} 

div>div:nth-child(7) div:nth-child(3) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) calc(-100vmin / 10 * 1 + -1vmin);            
} 

div>div:nth-child(7) div:nth-child(4) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) calc(-100vmin / 10 * 1 + -1vmin);            
} 

div>div:nth-child(7) div:nth-child(5) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) calc(-100vmin / 10 * 1 + -1vmin);            
} 

div>div:nth-child(7) div:nth-child(6) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) calc(-100vmin / 10 * 1 + -1vmin);            
} 

div>div:nth-child(7) div:nth-child(7) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) calc(-100vmin / 10 * 1 + -1vmin);            
} 

div>div:nth-child(7) div:nth-child(8) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) calc(-100vmin / 10 * 1 + -1vmin);            
} 

/*строка 8*/

div>div:nth-child(8) div:nth-child(1) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 2) calc(-100vmin / 10 * 1 + -1vmin);           
} 

div>div:nth-child(8) div:nth-child(2) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 4 + -2vmin) calc(-100vmin / 10 * 1 + -1vmin);       
} 

div>div:nth-child(8) div:nth-child(3) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 3 + -1vmin) calc(-100vmin / 10 * 1 + -0.5vmin);       
} 

div>div:nth-child(8) div:nth-child(4) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: 1vmin calc(-100vmin / 10 * 1 + -0.5vmin);      
} 

div>div:nth-child(8) div:nth-child(5) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 1) calc(-100vmin / 10 * 1 + -0.5vmin);      
} 

div>div:nth-child(8) div:nth-child(6) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 3 + -1vmin) calc(-100vmin / 10 * 1 + -0.5vmin);       
} 

div>div:nth-child(8) div:nth-child(7) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 4 + -2vmin) calc(-100vmin / 10 * 1 + -1vmin);       
} 

div>div:nth-child(8) div:nth-child(8) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 2) calc(-100vmin / 10 * 1 + -1vmin);           
} 







   

    
    
 

    

    
    
    
    
}