body {
    margin: 0;
    max-width: 100vmin;
}  
div>div>div {       
    height: calc(100vmin / 10);
    width: calc(100vmin / 10);
    display: inline-block;     
    outline: 1px solid red;
    font-size: initial;      
}      

div>div {
    font-size: 0;    
}

body>div {
    margin-left: calc(100vmin / 10);
}

 /*делаем буквы сверху*/

body>div:first-child::before {
    content: "abcdefgh";
    font-family: Arial;
    letter-spacing: calc(100vmin / 10 * 0.8);
    font-size: 4vmin;   
    text-align: center; 
    display: block;       
    margin-left: -4vmin;   
}

/*делаем буквы снизу*/

body>div:last-child::after {    
    content: "abcdefgh"; 
    display: block; 
    font-family: Arial;
    letter-spacing: calc(100vmin / 10 * 0.8);
    font-size: 4vmin;   
    text-align: center;  
    margin-left: -4vmin;    
}

/*делаем цифры слева*/

div>div:nth-child(1) div:first-child::before {        
    content: "1";  
    float: left; 
    margin-left: -5vmin;
    margin-top: 2vmin;
    font-family: Arial;    
    font-size: 4vmin;   
    text-align: center;                    
}     

div>div:nth-child(2) div:first-child::before {        
    content: "2";  
    float: left; 
    margin-left: -5vmin;
    margin-top: 2vmin;
    font-family: Arial;    
    font-size: 4vmin;   
    text-align: center;                    
}   

div>div:nth-child(3) div:first-child::before {        
    content: "3";  
    float: left; 
    margin-left: -5vmin;
    margin-top: 2vmin;
    font-family: Arial;    
    font-size: 4vmin;   
    text-align: center;                    
}     

div>div:nth-child(4) div:first-child::before {        
    content: "4";  
    float: left; 
    margin-left: -5vmin;
    margin-top: 2vmin;
    font-family: Arial;    
    font-size: 4vmin;   
    text-align: center;                    
}     

div>div:nth-child(5) div:first-child::before {        
    content: "5";  
    float: left; 
    margin-left: -5vmin;
    margin-top: 2vmin;
    font-family: Arial;    
    font-size: 4vmin;   
    text-align: center;                    
}  

div>div:nth-child(6) div:first-child::before {        
    content: "6";  
    float: left; 
    margin-left: -5vmin;
    margin-top: 2vmin;
    font-family: Arial;    
    font-size: 4vmin;   
    text-align: center;                    
}     

div>div:nth-child(7) div:first-child::before {        
    content: "7";  
    float: left; 
    margin-left: -5vmin;
    margin-top: 2vmin;
    font-family: Arial;    
    font-size: 4vmin;   
    text-align: center;                    
}    

div>div:nth-child(8) div:first-child::before {        
    content: "8";  
    float: left; 
    margin-left: -5vmin;
    margin-top: 2vmin;
    font-family: Arial;    
    font-size: 4vmin;   
    text-align: center;                    
}   

 /*делаем цифры справа*/

 div>div:nth-child(1) div:last-child::after {        
    content: "1";  
    float: right;
    margin-right: -4vmin;  
    margin-top: 2vmin; 
    font-family: Arial;    
    font-size: 4vmin;   
    text-align: center;                     
}   

div>div:nth-child(2) div:last-child::after {        
    content: "2";  
    float: right;
    margin-right: -4vmin;  
    margin-top: 2vmin; 
    font-family: Arial;    
    font-size: 4vmin;   
    text-align: center;                     
}   

div>div:nth-child(3) div:last-child::after {        
    content: "3";  
    float: right;
    margin-right: -4vmin;  
    margin-top: 2vmin; 
    font-family: Arial;    
    font-size: 4vmin;   
    text-align: center;                     
}   

div>div:nth-child(4) div:last-child::after {        
    content: "4";  
    float: right;
    margin-right: -4vmin;  
    margin-top: 2vmin; 
    font-family: Arial;    
    font-size: 4vmin;   
    text-align: center;                     
}   

div>div:nth-child(5) div:last-child::after {        
    content: "5";  
    float: right;
    margin-right: -4vmin;  
    margin-top: 2vmin; 
    font-family: Arial;    
    font-size: 4vmin;   
    text-align: center;                     
}   

div>div:nth-child(6) div:last-child::after {        
    content: "6";  
    float: right;
    margin-right: -4vmin;  
    margin-top: 2vmin; 
    font-family: Arial;    
    font-size: 4vmin;   
    text-align: center;                     
}   

div>div:nth-child(7) div:last-child::after {        
    content: "7";  
    float: right;
    margin-right: -4vmin;  
    margin-top: 2vmin; 
    font-family: Arial;    
    font-size: 4vmin;   
    text-align: center;                     
}   

div>div:nth-child(8) div:last-child::after {        
    content: "8";  
    float: right;
    margin-right: -4vmin;  
    margin-top: 2vmin; 
    font-family: Arial;    
    font-size: 4vmin;   
    text-align: center;                     
} 

/*закрашиваем клеточки*/

div>div:nth-child(odd) div:nth-child(odd) {
    background: red;                 
}  

div>div:nth-child(even) div:nth-child(even) {
    background: red;                 
}  

/*вставляем фигурки*/
/*строка 1*/

div>div:nth-child(1) div:nth-child(1) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 2) 0;           
} 
  
div>div:nth-child(1) div:nth-child(2) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 4 + -2vmin) 0;           
} 

div>div:nth-child(1) div:nth-child(3) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 3 + -1vmin) 0;           
} 

div>div:nth-child(1) div:nth-child(4) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: 1vmin  0;           
} 

div>div:nth-child(1) div:nth-child(5) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 1) 0;           
} 
  
div>div:nth-child(1) div:nth-child(6) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 3 + -1vmin) 0;           
} 

div>div:nth-child(1) div:nth-child(7) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 4 + -2vmin) 0;           
} 

div>div:nth-child(1) div:nth-child(8) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 2) 0;           
} 

/*строка 2*/

div>div:nth-child(2) div:nth-child(1) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) 0;           
} 

div>div:nth-child(2) div:nth-child(2) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) 0;           
} 

div>div:nth-child(2) div:nth-child(3) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) 0;           
} 

div>div:nth-child(2) div:nth-child(4) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) 0;           
} 

div>div:nth-child(2) div:nth-child(5) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) 0;           
} 

div>div:nth-child(2) div:nth-child(6) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) 0;           
} 

div>div:nth-child(2) div:nth-child(7) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) 0;           
} 

div>div:nth-child(2) div:nth-child(8) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) 0;           
} 

/*строка 7*/

div>div:nth-child(7) div:nth-child(1) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) calc(-100vmin / 10 * 1 + -1vmin);            
} 

div>div:nth-child(7) div:nth-child(2) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) calc(-100vmin / 10 * 1 + -1vmin);            
} 

div>div:nth-child(7) div:nth-child(3) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) calc(-100vmin / 10 * 1 + -1vmin);            
} 

div>div:nth-child(7) div:nth-child(4) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) calc(-100vmin / 10 * 1 + -1vmin);            
} 

div>div:nth-child(7) div:nth-child(5) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) calc(-100vmin / 10 * 1 + -1vmin);            
} 

div>div:nth-child(7) div:nth-child(6) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) calc(-100vmin / 10 * 1 + -1vmin);            
} 

div>div:nth-child(7) div:nth-child(7) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) calc(-100vmin / 10 * 1 + -1vmin);            
} 

div>div:nth-child(7) div:nth-child(8) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 5 + -3vmin) calc(-100vmin / 10 * 1 + -1vmin);            
} 

/*строка 8*/

div>div:nth-child(8) div:nth-child(1) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 2) calc(-100vmin / 10 * 1 + -1vmin);           
} 

div>div:nth-child(8) div:nth-child(2) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 4 + -2vmin) calc(-100vmin / 10 * 1 + -1vmin);       
} 

div>div:nth-child(8) div:nth-child(3) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 3 + -1vmin) calc(-100vmin / 10 * 1 + -0.5vmin);       
} 

div>div:nth-child(8) div:nth-child(4) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: 1vmin calc(-100vmin / 10 * 1 + -0.5vmin);      
} 

div>div:nth-child(8) div:nth-child(5) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 1) calc(-100vmin / 10 * 1 + -0.5vmin);      
} 

div>div:nth-child(8) div:nth-child(6) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 3 + -1vmin) calc(-100vmin / 10 * 1 + -0.5vmin);       
} 

div>div:nth-child(8) div:nth-child(7) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 4 + -2vmin) calc(-100vmin / 10 * 1 + -1vmin);       
} 

div>div:nth-child(8) div:nth-child(8) {
    background-image: url('chess.png');
    background-repeat: no-repeat;            
    background-size: calc(100vmin / 10 * 6) calc(100vmin / 10 * 2);
    background-position: calc(-100vmin / 10 * 2) calc(-100vmin / 10 * 1 + -1vmin);           
} 

