
 /*#slider {
     width: 200px;
     height: 200px;
     overflow: hidden;
 }*/
 
[name=sliders] {
    position: absolute;
    visibility: hidden;
}
  /*.slide-one,
  .slide-two,
  .slide-three,
  .slide-four,
  .slide-five {
    display: none;
  } */

.slide {
    display: none;
  }

  [type=radio]:nth-of-type(1):checked ~ div>.slide-one,
  [type=radio]:nth-of-type(2):checked ~ div>.slide-two,
  [type=radio]:nth-of-type(3):checked ~ div>.slide-three,
  [type=radio]:nth-of-type(4):checked ~ div>.slide-four,
  [type=radio]:nth-of-type(5):checked ~ div>.slide-five {
   display: block;
  } 

.prevSlide {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right: 10px solid red;
    position: absolute;
    top: 98px;
    left: 0;
} 
.nextSlide {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left: 10px solid red;
    position: absolute;
    top: 98px;
    left: 198px;
} 

.pins>[for=one] {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    top: 188px;
    left: 66px;
}
.pins>[for=two] {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    top: 188px;
    left: 86px;
}
.pins>[for=three] {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    top: 188px;
    left: 106px;
}
.pins>[for=four] {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    top: 188px;
    left: 126px;
}
.pins>[for=five] {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    top: 188px;
    left: 146px;
}
  
[type=radio]:nth-of-type(1):checked ~ div>.pins>[for=one],
[type=radio]:nth-of-type(2):checked ~ div>.pins>[for=two], 
[type=radio]:nth-of-type(3):checked ~ div>.pins>[for=three], 
[type=radio]:nth-of-type(4):checked ~ div>.pins>[for=four], 
[type=radio]:nth-of-type(5):checked ~ div>.pins>[for=five] {
    background-color: blue;
} 

