[data-element=calculator] {
    width: 580px; 
    height: 530px; 
    overflow: hidden; 
    position: relative; 
    font-family: Arial;
    font-size: 18px;
}
.calc {
    position: absolute; 
    width: 580px; 
    height: 530px; 
    background: url('assets/img/sprite.png') no-repeat;
}
.ipad {
    position: absolute; 
    width: 580px; 
    height: 530px; 
    background: url('assets/img/sprite.png') 0px -2120px no-repeat;
    opacity: 1;
}
.car {
    position: absolute; 
    width: 580px; 
    height: 530px; 
    background: url('assets/img/sprite.png') 0px -1590px no-repeat;
    opacity: 1;
}
.house {
    position: absolute;
    width: 580px; 
    height: 530px; 
    background: url('assets/img/sprite.png') 0px -1060px no-repeat;
    opacity: 1;
}
.plane {
    position: absolute; 
    width: 580px; 
    height: 530px; 
    background: url('assets/img/sprite.png') 0px -530px no-repeat;
    opacity: 1;
}
.month {
    position: absolute; 
    top: 101px; 
    left: 360px; 
    height: 24px; 
    width: 24px; 
    font-weight: normal; 
    color: rgb(229, 248, 176); 
    line-height: 24px; 
    text-align: center;
}
.summ {
    position: absolute; 
    font-size: 18px; 
    left: 203px; 
    top: 50px; 
    border: none; 
    outline: none; 
    background: transparent; 
    height: 24px; 
    width: 70px; 
    text-align: right;
}
.money3 {
    position: absolute; 
    top: 18px; 
    left: 340px; 
    height: 24px; 
    width: 140px; 
    font-weight: normal; 
    color: rgb(229, 248, 176); 
    line-height: 24px; 
    text-align: center;
}
.six-em {
    font-size: 0.6em;
}
.eight-em {
    font-size: 0.8em;
}
.nine-em {
    font-size: 0.9em;
}
.money {
    position: absolute; 
    top: 51px; 
    left: 292px; 
    height: 24px;
    width: 35px; 
    font-weight: normal; 
    color: rgb(229, 248, 176); 
    line-height: 24px;
}
.cur {
    color: rgb(229, 248, 176); 
    position: absolute; 
    left: 267px; 
    top: 103px;
}
.first-line {
    position: absolute; 
    width: 115px; 
    height: 20px; 
    top: 102px; 
    right: 330px; 
    font-weight: normal; 
    color: rgb(229, 248, 176); 
    line-height: 20px; 
    text-align: right;
}
.second-line {
    position: absolute; 
    width: 115px; 
    height: 20px; 
    top: 148px; 
    right: 330px; 
    font-weight: normal; 
    color: rgb(229, 248, 176); 
    line-height: 20px; 
    text-align: right;
}
.second-row {
    font-size: 12px; 
    position: absolute; 
    width: 115px; 
    height: 20px; 
    top: 148px; 
    left: 266px; 
    font-weight: normal; 
    color: rgb(229, 248, 176); 
    line-height: 20px;
}
.third-line {
    position: absolute; 
    width: 115px; 
    height: 20px; 
    top: 170px; 
    right: 330px; 
    font-weight: normal; 
    color: rgb(229, 248, 176); 
    line-height: 20px; 
    text-align: right;
}
.third-row {
    font-size: 12px; 
    position: absolute; 
    width: 115px; 
    height: 20px; 
    top: 170px; 
    left: 266px; 
    font-weight: normal; 
    color: rgb(229, 248, 176);
    line-height: 20px;
}
.fourth-line {
    position: absolute;
    width: 115px; 
    height: 20px; 
    top: 192px; 
    right: 330px; 
    font-weight: normal; 
    color: rgb(229, 248, 176); 
    line-height: 20px; 
    text-align: right;
}
.fourth-row {
    font-size: 12px; 
    position: absolute; 
    width: 115px; 
    height: 20px; 
    top: 192px; 
    left: 266px; 
    font-weight: normal; 
    color: rgb(229, 248, 176); 
    line-height: 20px
}
.fifth-line {
    position: absolute;
    width: 115px; 
    height: 20px; 
    top: 214px; 
    right: 330px; 
    font-weight: normal; 
    color: rgb(229, 248, 176); 
    line-height: 20px; 
    text-align: right;
}
.fifth-row {
    font-size: 12px; 
    position: absolute; 
    width: 115px; 
    height: 20px; 
    top: 214px; 
    left: 266px; 
    font-weight: normal; 
    color: rgb(229, 248, 176); 
    line-height: 20px;
}
.sixth-line {
    position: absolute; 
    width: 115px;
    height: 20px;
    top: 236px; 
    right: 330px; 
    font-weight: normal; 
    color: rgb(229, 248, 176); 
    line-height: 20px; 
    text-align: right;
}
.sixth-row {
    font-size: 12px; 
    position: absolute; 
    width: 115px; 
    height: 20px; 
    top: 236px; 
    left: 266px; 
    font-weight: normal; 
    color: rgb(229, 248, 176); 
    line-height: 20px;
}
.percents {
    position: absolute; 
    top: 51px; 
    left: 390px; 
    height: 24px; 
    width: 35px; 
    font-weight: normal; 
    color: rgb(229, 248, 176); 
    line-height: 24px;
}

/*Изменение месяцев и изображений*/
[name=months] {
    position: absolute;
    visibility: hidden;
} 

.month {
    display: none;
  }

  [name=months]:nth-of-type(1):checked ~ .month-one,
  [name=months]:nth-of-type(2):checked ~ .month-two,
  [name=months]:nth-of-type(3):checked ~ .month-three,
  [name=months]:nth-of-type(4):checked ~ .month-four,
  [name=months]:nth-of-type(5):checked ~ .month-five,
  [name=months]:nth-of-type(6):checked ~ .month-six,
  [name=months]:nth-of-type(7):checked ~ .month-seven,
  [name=months]:nth-of-type(8):checked ~ .month-eight,
  [name=months]:nth-of-type(9):checked ~ .month-nine,
  [name=months]:nth-of-type(10):checked ~ .month-ten,
  [name=months]:nth-of-type(11):checked ~ .month-eleven,
  [name=months]:nth-of-type(12):checked ~ .month-twelve {
   display: block;
  } 

  .nextMonth {
    position: absolute; 
    width: 20px; 
    height: 6px; 
    top: -6px; 
    left: 2px; 
    cursor: pointer;
  }

  .prevMonth {
    position: absolute; 
    width: 20px; 
    height: 6px; 
    bottom: -6px; 
    left: 2px; 
    cursor: pointer;
  }
  

[name=months]:nth-of-type(1):checked ~ .variant1>.ipad,
[name=months]:nth-of-type(1):checked ~ .variant1>.car,
[name=months]:nth-of-type(1):checked ~ .variant1>.house,
[name=months]:nth-of-type(1):checked ~ .variant1>.plane,
[name=months]:nth-of-type(2):checked ~ .variant1>.ipad,
[name=months]:nth-of-type(2):checked ~ .variant1>.car,
[name=months]:nth-of-type(2):checked ~ .variant1>.house,
[name=months]:nth-of-type(2):checked ~ .variant1>.plane,
{
    opacity: 0.5;
} 

[name=months]:nth-of-type(3):checked ~ .variant2>.ipad,
[name=months]:nth-of-type(4):checked ~ .variant2>.ipad,
[name=months]:nth-of-type(5):checked ~ .variant2>.ipad
{
    opacity: 1;
} 

[name=months]:nth-of-type(3):checked ~ .variant2>.car,
[name=months]:nth-of-type(3):checked ~ .variant2>.house,
[name=months]:nth-of-type(3):checked ~ .variant2>.plane,
[name=months]:nth-of-type(4):checked ~ .variant2>.car,
[name=months]:nth-of-type(4):checked ~ .variant2>.house,
[name=months]:nth-of-type(4):checked ~ .variant2>.plane,
[name=months]:nth-of-type(5):checked ~ .variant2>.car,
[name=months]:nth-of-type(5):checked ~ .variant2>.house,
[name=months]:nth-of-type(5):checked ~ .variant2>.plane
{
    opacity: 0.5;
}

[name=months]:nth-of-type(6):checked ~ .variant3>.ipad,
[name=months]:nth-of-type(6):checked ~ .variant3>.car,
[name=months]:nth-of-type(7):checked ~ .variant3>.ipad,
[name=months]:nth-of-type(7):checked ~ .variant3>.car,
[name=months]:nth-of-type(8):checked ~ .variant3>.ipad,
[name=months]:nth-of-type(8):checked ~ .variant3>.car 
{
    opacity: 1;
}

[name=months]:nth-of-type(6):checked ~ .variant3>.house,
[name=months]:nth-of-type(6):checked ~ .variant3>.plane,
[name=months]:nth-of-type(7):checked ~ .variant3>.house,
[name=months]:nth-of-type(7):checked ~ .variant3>.plane,
[name=months]:nth-of-type(8):checked ~ .variant3>.house,
[name=months]:nth-of-type(8):checked ~ .variant3>.plane 
{
    opacity: 0.5;
}

[name=months]:nth-of-type(9):checked ~ .variant4>.ipad,
[name=months]:nth-of-type(9):checked ~ .variant4>.car,
[name=months]:nth-of-type(9):checked ~ .variant4>.house,
[name=months]:nth-of-type(10):checked ~ .variant4>.ipad,
[name=months]:nth-of-type(10):checked ~ .variant4>.car,
[name=months]:nth-of-type(10):checked ~ .variant4>.house,
[name=months]:nth-of-type(11):checked ~ .variant4>.ipad,
[name=months]:nth-of-type(11):checked ~ .variant4>.car,
[name=months]:nth-of-type(11):checked ~ .variant4>.house
{
    opacity: 1;
}

[name=months]:nth-of-type(9):checked ~ .variant4>.plane,
[name=months]:nth-of-type(10):checked ~ .variant4>.plane,
[name=months]:nth-of-type(11):checked ~ .variant4>.plane
{
    opacity: 0.5;
}

[name=months]:nth-of-type(12):checked ~ .variant5>.ipad,
[name=months]:nth-of-type(12):checked ~ .variant5>.car,
[name=months]:nth-of-type(12):checked ~ .variant5>.house,
[name=months]:nth-of-type(12):checked ~ .variant5>.plane
{
    opacity: 1;
}

/*Изменение валют*/
[name=currency] {
    position: absolute;
    visibility: hidden;
} 

.money {
    display: none;
  }

  [name=currency]:nth-of-type(1):checked ~ .currency-one,
  [name=currency]:nth-of-type(2):checked ~ .currency-two {
   display: block;
  } 

  .prevCurrency {
    position: absolute; 
    width: 20px; 
    height: 6px; 
    top: -6px; 
    left: 8px; 
    cursor: pointer;
  }

  .nextCurrency {
    position: absolute; 
    width: 20px; 
    height: 6px; 
    bottom: -6px; 
    left: 8px; 
    cursor: pointer;
  }

.money2 {
    display: none;
}
  
[name=currency]:nth-of-type(1):checked ~ .money2>[for=rub],
[name=currency]:nth-of-type(2):checked ~ .money2>[for=usd] {
    display: block;
} 

.money3 {
    display: none;
}

[name=currency]:nth-of-type(1):checked ~ .money3>[for=rub],
[name=currency]:nth-of-type(2):checked ~ .money3>[for=usd] {
    display: block;
} 

